{{#if collectionNotEmpty}}
  <table id="cb-table" class="table table-condensed table-bordered table-hover table-striped share-table tablesorter" summary="List of Config Backups">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{print_cb_tbody}}
    </tbody>
  </table>
  <div>
  {{pagination}}
  </div>
{{ else }}
  <h4>No backups have been created.</h4>
{{/if}}
