*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
#lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
.idea/

# Node Modules
node_modules/

# VS Code
.vscode

# Rockstor build
.initrock
PKG-INFO
certs/
jslibs/
poetry-install.txt
rockstor-jslibs.tar.gz*
rockstor-tasks-huey.db*
/static/

# Rockstor error tgz
/src/rockstor/logs/error.tgz
# Rockstor docker
/conf/docker-daemon.json

# Poetry error logs
poetry-installer-error*
/build-output.txt
