<h4>Backup Service</h4>
<table>
  <tr>
    <td>Status:&nbsp;&nbsp;&nbsp;</td>
    <td> 
      <div class="slider-stop" data-service-name="">OFF</div>
      <div class="slider-ph">
        <input type="text" class="service-status" value="1" data-service-name=""></input>
      </div>
      <div class="slider-start on" data-service-name="">ON</div>
    </td>
  </tr>
</table>

