<% if (!collection.isEmpty()) { %>
  <table id="policy-table" class="table table-condensed table-bordered table-hover table-striped share-table tablesorter" summary="List of pools">
    <thead>
      <tr>
        <th>server ip</th>
        <th>path</th>
        <th>notification level</th>
        <th>notification email</th>
        <th>destination share</th>
      </tr>
    </thead>
    
  </table>
  <div class="pagination-ph">
<% } else { %>
  <h4>No policies have been created.</h4>
<% } %>

