<div id="nfs-container">
  <span id="nfs-breadcrumb">
    <span id="nfs-title"></span>
    <span id="nfs-sharename"></span>
  </span>

  <div class="clear"></div>
  <div id="nfs-graph">
  </div>
</div>
<br> 

