<table>
  <tr>
    <td>Lookups: <%= d["num_lookup"] %></td>
    <td>Create: <%= d["num_create"] %></td>
  </tr>
  <tr>
    <td>Reads: <%= d["num_read"] %></td>
    <td>Commit: <%= d["num_lookup"] %></td>
  </tr>
  <tr>
    <td>Writes: <%= d["num_write"] %></td>
    <td>Remove: <%= d["num_remove"] %></td>
  </tr>
  <tr>
    <td>Sum Reads: <%= d["sum_read"] %></td>
    <td>Sum Write: <%= d["sum_write"] %></td>
  </tr>
</table>



