Start: <% if (probeRun.get("start")) { %><%= moment(probeRun.get("start")).format(RS_DATE_FORMAT) %><% } %>&nbsp;&nbsp; 
End: <% if (probeRun.get("end")) { %><%= moment(probeRun.get("end")).format(RS_DATE_FORMAT) %><% } %> 

