<% _.each(_.keys(statusMap), function(displayStatus) { %>
  <% if (statusMap[displayStatus][runStatus]) { %>
    <li class="status-tracker-<%= statusMap[displayStatus][runStatus] %>"><%= displayStatus %></li>
  <% } %>
<% }); %>

