Select an option
<button id="add-disks" class="btn">Add disks to this pool</button>
<br>
<button id="remove-disks" class="btn">Remove disks from this pool</button>
<br>
<br>

<input type="radio" name="resize-choice" id="resize-choice" value="add" checked>Add disks to this pool
&nbsp;
<input type="radio" name="resize-choice" id="resize-choice" value="remove">Remove disks from this pool
&nbsp;
<input type="radio" name="resize-choice" id="resize-choice" value="raid">Change Raid configuration 
