
<div id="breadcrumb">
  <div>Select</div>
</div>
<br>
<h4>Select an operation to perform on {{display_poolName}}</h4>
<ol>
  <li><h4><a href="#" id="change-raid">Modify RAID level only</a></h4></li>
  <li><h4><a href="#" id="add-disks">Add disks (optional RAID change)</a></h4></li>
  <li><h4><a href="#" id="remove-disks">Remove disks</a></h4></li>
  <li><h4>Replace existing disk (planned option)</h4></li>
</ol> 

