<h3>Select an option below</h3>
<ol>
  <li><a href="#" id="change-raid">Modify RAID level</a></li>
  <li><a href="#" id="add-disks">Add disks</a></li>
  <li><a href="#" id="remove-disks">Remove disks</a></li>
</ol> 

