<div class="alert alert-success">
  <h4>Resize is initiated. A balance process is kicked off to redistribute data. It could take a while. You can check the status in the Balances tab. Its finish marks the success of resize.</h4>
</div>

