[Unit]
Description=Rockstor bootstrapping tasks
After=rockstor.service
Requires=rockstor.service

[Service]
WorkingDirectory=/opt/rockstor
EnvironmentFile=/opt/rockstor/.env
ExecStart=/usr/local/bin/poetry run bootstrap
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
