[Unit]
Description=Tasks required prior to starting Rockstor
After=postgresql.service
Requires=postgresql.service

[Service]
Environment="DJANGO_SETTINGS_MODULE=settings"
WorkingDirectory=/opt/rockstor
ExecStart=/usr/local/bin/poetry run initrock
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target