[Unit]
Description=Rockstor bootstrapping tasks
After=rockstor.service
Requires=rockstor.service

[Service]
ExecStart=/opt/rockstor/bin/bootstrap
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
