[Unit]
Description=Rockstor startup script
After=rockstor-pre.service
Requires=rockstor-pre.service

[Service]
WorkingDirectory=/opt/rockstor
EnvironmentFile=/opt/rockstor/.env
ExecStart=/usr/local/bin/poetry run supervisord -c /opt/rockstor/etc/supervisord.conf
ExecStop=/usr/local/bin/poetry run supervisorctl shutdown
ExecReload=/usr/local/bin/poetry run supervisorctl reload
# Generally not recommended but used here to honour supervisord's remit re process management.
KillMode=process

[Install]
WantedBy=multi-user.target
