[Unit]
Description=Rockstor Scheduling Service
After=rockstor.service
Requires=rockstor.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/rockstor
EnvironmentFile=/opt/rockstor/.env
ExecStart=/opt/rockstor/.venv/bin/django-admin run_huey --workers 4 --worker-type thread --logfile /opt/rockstor/var/log/huey.log
Restart=always
RestartSec=5s
StandardOutput=append:/opt/rockstor/var/log/rockstor-scheduling_stdout.log
StandardError=append:/opt/rockstor/var/log/rockstor-scheduling_stderr.log
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target