[Unit]
Description=Rockstor SGI Service
After=network.target rockstor-pre.service
Requires=rockstor-pre.service

[Service]
Type=simple
PIDFile=/run/gunicorn.pid
WorkingDirectory=/opt/rockstor
EnvironmentFile=/opt/rockstor/.env
ExecStart=/opt/rockstor/.venv/bin/gunicorn --config ./conf/gunicorn.conf.py wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
KillMode=mixed
Restart=on-failure
RestartSec=5s
StandardOutput=append:/opt/rockstor/var/log/sgi_stdout.log
StandardError=append:/opt/rockstor/var/log/sgi_stderr.log
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
