[Unit]
Description=Tasks required prior to starting Rockstor
After=postgresql.service
Requires=postgresql.service

[Service]
ExecStart=/opt/rockstor/bin/initrock
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target