[Unit]
Description=Rockstor Replication Service
After=rockstor.service
Requires=rockstor.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/rockstor
EnvironmentFile=/opt/rockstor/.env
ExecStart=/opt/rockstor/.venv/bin/replicad
Restart=on-failure
RestartSec=5s
StandardOutput=append:/opt/rockstor/var/log/replication_stdout.log
StandardError=append:/opt/rockstor/var/log/replication_stderr.log
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target
