[Unit]
Description=Rockstor bootstrapping tasks
After=rockstor.service
Requires=rockstor.service

[Service]
Environment="DJANGO_SETTINGS_MODULE=settings"
Environment="PASSWORD_STORE_DIR=/root/.password-store"
WorkingDirectory=/opt/rockstor
ExecStart=/opt/rockstor/.venv/bin/bootstrap
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
