<div id="nfs-graphs">
  <span class="h4" style="float: left">NFS Operations</span>
  <div id="nfs-attrs-legend" style="float: right"></div>
  <div class="clear"></div>
  <div id="nfs-attrs"></div>
  <br>
  <span class="h4" style="float: left">Data read / Data written</span>
  <div id="nfs-data-legend" style="float: right"></div>
  <div class="clear"></div>
  <div id="nfs-data"></div>
</div>
