<div id="nfs-graphs">
  <h4>NFS Operations</h4>
  <div id="nfs-attrs"></div>
  <div id="nfs-attrs-legend"></div>
  <br><br>
  <h4>Data read / Data written</h4>
  <div id="nfs-data"></div>
  <div id="nfs-data-legend"></div>
</div>
