Start: <% if (probeRun.get("start")) { %><%= (new Date(probeRun.get("start"))).toString() %><% } %>&nbsp;&nbsp; 
End: <% if (probeRun.get("end")) { %><%= (new Date(probeRun.get("end"))).toString() %><% } %> 

