<div class="row-fluid">
  <div class="span8">
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert" type="button">x</button>
      <%= msg %>
    </div>
  </div>
</div>

