<h3>Support</h3>
<ul class="nav">
  <% if (selected == "support") { %>
    <li><a href="#support" class="selected"><i class="icon-home icon-white"></i> Support</span></a></li>
  <% } else { %>
    <li><a href="#support"><i class="icon-home"></i> Support</span></a></li>
<% } %>
</ul>


