<h3>Storage</h3>
<ul class="nav">
  <li><a href="#disks"><i class="icon-hdd"></i> Disks</a></li>
  <li><a href="#pools"><i class="icon-list"></i> Pools</a></li>
  <li><a href="#shares" class="selected"><i class="icon-folder-open"></i> Shares</a></li>
</ul>

