<h3>Analytics</h3>
<ul class="nav">
  <% if (selected == "probe_runs") { %>
  <li><a href="#analytics" class="selected"> Probe runs</span></a></li>
  <% } else { %>
  <li><a href="#analytics"> Probe runs</span></a></li>
  <% } %>
</ul>

