<h3>Dashboard</h3>
<ul class="nav">
  <% if (selected == "dashboard") { %>
    <li><a href="#home" class="selected"><i class="icon-home icon-white"></i> Dashboard</span></a></li>
  <% } else { %>
    <li><a href="#home"><i class="icon-home"></i> Dashboard</span></a></li>
<% } %>
</ul>

