<div id="breadcrumb">
  <div>Shares</div>
  <div>Ports</div>
  <div>Config</div>
  <div>Summary</div>
</div>
<br>
<h4>Click submit to start the installation.</h4>
<br>
<div id="ph-summary-table"></div>
