<div id="breadcrumb">
  <div>install is complete!</div>
</div>
<br>
<div class="alert alert-success">
  <h4>Rockon installation is in progress. It could take a while. You can check the status in the tab</h4>
</div>
