<div class="alert alert-info">
  Installation is in progress. It can take a while depending on the type of Rock-on, network speed and other factors. You can monitor the Rock-ons page which refreshes periodically during the installation.
</div>
