<div id="breadcrumb">
  <div>Shares</div>
  <div>Ports</div>
  <div>Config</div>
  <div>Summary</div>
</div>
<br>
<h4>Hit submit to start the install.</h4>
<br>
<% var shares = ['share1', 'share2']; %>
<% _.each(shares, function(share) { %>
<h3>Rockstor share X</h3>
<% }); %>
