<ol class="breadcrumb">
  <li>Shares</li>
</ol>
<div class="alert alert-warning">
  <p>Shares provide storage to the Rock-on and they must be assigned properly. Make sure to read each field's tooltip for specific information before making a selection. We strongly recommend that you create dedicated Shares assignments.</p>
</div>
<div id="ph-vols-table"></div>
