<ol class="breadcrumb">
  <li>Shares</li>
</ol>
<div class="alert alert-warning">
  <h5>Shares provide storage to Rock-ons and they must be assigned properly. Make sure to read each field's tooltip for specific information. We strongly recommend that you create dedicated Shares assignments.</h5>
</div>
<div id="ph-vols-table"></div>
