<ol class="breadcrumb">
  <li>Shares</li>
  <li>Ports</li>
  <li>Config</li>
  <li>Summary</li>
</ol>
<br>
<div class="alert alert-warning">
  <h4>Click submit to start the installation.</h4>
</div>
<br>
<div id="ph-summary-table"></div>
