<div class="alert alert-success">
  <h3>Installation started successfully and is in progress.<br>It can take a while depending on the type of Rock-on, network speed and other factors.<br> You can monitor the Rock-ons page which refreshes periodically during the installation.</h3>
</div>
