<div class="row">
  <div class="col-md-10">
    <label class="control-label"></label>
    <div class="form-box">
      <form id="port-select-form" name="aform" class="form-horizontal">
	<div class="messages"></div>
    {{display_portsForm}}
      </form>
    </div>
  </div>
</div>
