<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
        {{title}}
        </div>
        <div class="panel-body">
            <form class="form-horizontal"></form>
        </div>
    </div>
</div>
