<h3>RockStor Setup</h3>
<ul class="nav">
  <% if (selected == "user") { %>
  <li><a href="#" class="selected"> User</span></a></li>
  <% } else { %>
  <li><a href="#"> User</span></a></li>
  <% } %>
  <% if (selected == "disks") { %>
  <li><a href="#" class="selected"> Disks</span></a></li>
  <% } else { %>
  <li><a href="#"> Disks</span></a></li>
  <% } %>
</ul>

