<h3>Support</h3>
<ul class="nav">
  <% if (selected == "support") { %>
    <li><a href="#support" class="selected"> Support</span></a></li>
  <% } else { %>
    <li><a href="#support"> Support</span></a></li>
<% } %>
</ul>


