<h3>Rock-Ons</h3>
<ul class="nav">
<% if (selected == "rockons") { %>
<li><a href="#rockons" class="selected"> Rock-ons</a></li>
<% } else { %>
<li><a href="#rockons"> Rock-ons</a></li>
<% } %>
<% if (selected == "diy") { %>
<li><a href="#diy" class="selected">Diy</a></li>
<% } else { %>
<li><a href="#diy">Diy</a></li>
<% } %>
</ul>
