<h3>Analytics</h3>
<ul class="nav">
  <% if (selected == "probe_runs") { %>
  <li><a href="#analytics" class="selected"> Probe runs</span></a></li>
  <% } else { %>
  <li><a href="#analytics"> Probe runs</span></a></li>
  <% } %>
  <% if (selected == "run_probe") { %>
  <li><a href="#run_probe" class="selected"> Run New Probe</span></a></li>
  <% } else { %>
  <li><a href="#run_probe"> Run New Probe</span></a></li>
  <% } %>
</ul>

