<div id="disk-details-ph">
  <div id="disk-select-ph">
    <span class="h4">Disk activity</span> for disk
    <select name="disk-select" id="disk-select" class="inline">
      <% disks.each(function(disk) { %>
        <option value="<%= disk.get('name') %>"><%= disk.get('name') %></option>
      <% }); %>
    </select>
  </div>
  <div id="disk-graph-reads-ph"></div>
  <div id="disk-graph-data-ph"></div>
</div>
