<table>
  <tr>
    <td>Data rec: <span id="data-rec"></span></td>
    <td>Packets rec: <span id="packets-rec"></span></td>
    <td>Errors rec: <span id="errors-rec"></span></td>
    <td>Drop rec: <span id="drop-rec"></span></td>
  </tr>
  <tr>
    <td>Data sent: <span id="data-sent"></span></td>
    <td>Packets sent: <span id="packets-sent"></span></td>
    <td>Errors sent: <span id="errors-sent"></span></td>
    <td>Drop sent: <span id="drop-sent"></span></td>
  </tr>
</table> 

