<ul class="nav nav-list probe-list">
  <% _.each(probes, function(p) { %>
    <li><a class="probe-select" href="#" data-probe-name="<%= p %>"><i class="icon-chevron-right"></i><%= p %></a></li>
  <% }); %>
</ul>

