<table>
  <tr>
    <td>Compression algorithm: </td>
    <td>
    {{#if shareCompressionNull}}
      <strong>None</strong>
    {{else}}
      <strong>{{shareCompression}}</strong>
    {{/if}}
    </td>
  </tr>
</table>
<a id="js-edit-compression" class="btn btn-primary" href="#">Edit</a>
