<a id="js-rollback" class="btn btn-primary"
    {{#if rollbackBtnDisabler}}
        disabled="disabled" title="At least one writable snapshot must exist to rollback to.">
    {{else}}
        href="#shares/{{shareId}}/rollback">
    {{/if}}
<i class="glyphicon glyphicon-repeat "></i> Rollback</a>
