<% if (snapshots.isEmpty() || !foundWritableSnapshot) { %>
  <a id="js-rollback" class="btn btn-primary disabled" title="At least one writable snapshot must exist to rollback to."><i class="icon-repeat icon-white"></i> Rollback</a>
<% } else { %>
  <a id="js-rollback" class="btn btn-primary" href="#shares/<%= share.get('name') %>/rollback"><i class="icon-repeat icon-white"></i> Rollback</a>
<% } %>

