
<tr id="smb-row">
  <td>
    <input type="hidden" id="smb-id" name="id" value="<%= smb_share.id %>">
    <%= smb_share.get('browsable') %>
  </td>
  <td><%= smb_share.get('guest_ok') %></td>
  <td><%= smb_share.get('read_only') %></td>
  <td><%= smb_share.get('comment') %></td>
  <td>
    <button class="btn btn-danger" id="delete" data-smbid="<%= smb_share.get('id') %>">Delete</button>
  </td>
</tr>
