
<% logger.debug('rendering nfs export row'); %>
<td><%= index+1 %></td>
<td><%= nfs_export.get('host_str') %></td>
<td><%= nfs_export.get('editable') %></td>
<td><%= nfs_export.get('syncable') %></td>
<td>
  <a href="#" class="delete-row" id="unexport-nfs-export_<%= nfs_export.id %>"
    data-id="<%= nfs_export.id %>" data-share-name="<%= share.get('name') %>" data-action="delete"><i class="icon-remove"></i></a>
</td>

