    <div id="disk-select-ph">
        <span class="h4">Disk activity</span> for disk
        <select name="disk-select" id="disk-select" class="inline">
            {{#each disks}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div style="width: 500px; height: 180px;">
        <canvas id="single-disk-chart"></canvas>
    </div>
