<ul class="nav nav-list probe-list">
  <li><a class="probe-select-header" href="#">Select Probe</a></li>
  <% _.each(probes, function(p) { %>
    <li><a class="probe-select" href="#" data-probe-name="<%= p %>"><i class="glyphicon glyphicon-chevron-right"></i><%= p %></a></li>
  <% }); %>
</ul>

