<!-- Header -->
<div class="widget-header">
  <div class="title"><span class="h4"><%= displayName %></span></div>
  <div class="gear">
    <a class="resize-widget" href="#"><i class="icon-resize-full"></i></a>
    <a class="close-widget" href="#"><i class="icon-remove"></i></a>
  </div>
</div>

<div class="widget-content">
  <div id="ph-metrics-viz"></div>
  <div id="ph-metrics-legend"></div>
</div>


